@tailwind base;
@tailwind components;
@tailwind utilities;

/* QR Image Viewer Styles */
.qr-image-viewer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Dark overlay */
  display: none;
  justify-content: center;
  align-items: center;
}

.qr-image-viewer img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}
